@using ToDoList.Shared.Models
@using ToDoList.Client.Components.Common
@using ToDoList.Shared.Utils
@using ToDoList.Shared.Models.Responses
@using ToDoList.Client.Services.Users
@using System.Security.Claims

@inject IModalService Modal
@inject IToastService ToastService
@inject IUserService UserService

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AddUser">Add User</button>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Is Admin</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (users.Count > 0)
            {
                @foreach (var u in users)
                {
                    <tr>
                        <td>@u.Username</td>
                        <td>@u.Email</td>
                        <td>@u.FirstName </td>
                        <td>@u.LastName</td>
                        <td>@u.IsAdmin</td>
                        <td><button type="button" class="btn btn-primary" @onclick="@(() => EditUser(u))" disabled="@DisableEdit(u)"><i class="fas fa-edit"></i></button></td>
                        <td><button type="button" class="btn btn-primary" @onclick="@(()=> DeleteUser(u))" disabled="@DisableDelete(u)"><i class="fas fa-trash"></i></button></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-align-center">No Records Found</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private ClaimsPrincipal currentUser;
    private List<User> users;

    private bool DisableDelete(User user)
    {
        if (currentUser.IsInRole("Admin") && currentUser.Claims.First(c => c.Type == ClaimTypes.Name).Value != user.Username)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    private bool DisableEdit(User user)
    {
        if (currentUser.IsInRole("Admin"))
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetAll();

        var authState = await AuthenticationStateTask;
        currentUser = authState.User;
    }

    private async Task EditUser(User user)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpsertUserForm.User), user);
        var modalRef = Modal.Show<UpsertUserForm>("Edit User", parameters);
        var modalResult = await modalRef.Result;
        if (!modalResult.Cancelled)
        {
            users = await UserService.GetAll();
            ToastService.ShowSuccess("Successfully edited user.");
        }
    }

    private async Task DeleteUser(User user)
    {
        var options = new ModalOptions()
        {
            Class = "blazored-modal delete-modal"
        };
        var modalRef = Modal.Show<DeleteModal>("Are you sure?", options);
        var modalResult = await modalRef.Result;
        if (!modalResult.Cancelled)
        {
            var result = await UserService.Delete(user.Id);
            var responseObj = await JsonUtils.GetObjectFromHttpResponse<GenericResponseMessage>(result);
            if (responseObj.IsSuccessful)
            {
                users = await UserService.GetAll();
                ToastService.ShowSuccess(responseObj.Message);
            }
            else
            {
                ToastService.ShowError(responseObj.Message);
            }
        }
    }

    private async Task AddUser()
    {
        User user = new User();
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpsertUserForm.User), user);
        var options = new ModalOptions()
        {
            Class = "blazored-modal upsert-user-modal"
        };
        var modalRef = Modal.Show<UpsertUserForm>("Add User", parameters, options);
        var result = await modalRef.Result;
        if (!result.Cancelled)
        {
            users = await UserService.GetAll();
            ToastService.ShowSuccess("Successfully added user.");
        }
    }
}
