@using ToDoList.Shared.Utils
@using ToDoList.Shared.Models.Responses
@using ToDoList.Shared.Models.Requests

@inject IModalService ModalService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject HttpClient Http

<EditForm Model="@User" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <InputText type="text" class="form-control" id="usernameInput" @bind-Value="@User.Username" />
        <ValidationMessage For="@(() => User.Username)" />
    </div>
    <div class="form-group">
        <label for="passwordInput">Password</label>
        <InputText type="password" class="form-control" id="passwordInput" @bind-Value="@User.Password" />
        <ValidationMessage For="@(() => User.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>

</EditForm>

@code {
    [Parameter]
    public UserLoginRequest User { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private async Task OnValidSubmit()
    {
        var result = await Http.PostAsJsonAsync<UserLoginRequest>("auth/signin", User);
        var responseObj = await JsonUtils.GetObjectFromHttpResponse<GenericResponseMessage>(result);
        if (responseObj.IsSuccessful)
        {
            NavigationManager.NavigateTo("/tasks");
        }
        else
        {
            ToastService.ShowError(responseObj.Message);
        }
    }
}
